.image-container {
    position: absolute;
    overflow: hidden; /* Hide overflow */
  }
  
  .image1 { 
    top: 20%;
    left: 15%;
    width: 23em; /* Width of the container */
    height: 30em; /* Height of the container */
  }
  
  .overlapping-image.image1 {
    width: 100%; /* Scale the width to fill the container */
    height: 100%; /* Scale the height to fill the container */
    object-fit: contain; /* Maintain aspect ratio */
    object-position: center; /* Center the image */
  }
  .image2 { 
    top: 13%;
    left: 4%;
    width: 17em;
    height: 9em;
  }
  
  .image3 { 
    top: 64%;
    left: 54%;
    width: 10em;
    height: 15em;
  }
  
  .overlapping-image {
    width: 100%; /* Make the image fill the container */
    height: 100%; /* Adjust if you want to maintain aspect ratio */
    object-fit: cover; /* This will cover the container with the image */
  }
  .insights-container {
    height: 100vh;
    width: 100%;
    background-image: url('../img/latest7.jpg'); /* Full background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
  }

  .left-side, .right-side {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .right-side {
    top: 16.5%;
    width: 50%;
    display: flex;
    flex-direction: column; /* This will stack the carousel and buttons vertically */
    align-items: center; /* Center items horizontally */
    position: relative;
    justify-content: flex-start; /* Align items to the start of the container */
  }
  .carousel-container {
    width: 100%; /* Set to take the full width of the right-side */
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 20px 0;
  }
  
  .carousel-card {
    width: 23em; /* Card width */
    height: 30em; /* Card height */
    flex: 0 0 auto; /* Don't grow, don't shrink, maintain auto width based on content */
    margin-right: 10px; /* Margin between cards */
    /* ... other styles for carousel card ... */
  }
  
  .btn-ctn {
    width: 100%; /* Take the full width of the right-side container */
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    margin-top: 20px; /* Space above the buttons */
  }
  
  .btn-ctn button {
    padding: 10px 20px;
    margin: 0 10px; /* Space between buttons */
    border-radius: 5px;
    background-color: #6E8EA7;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-ctn button:hover {
    background-color: #032743;
  }