/* Outer container with image background */
.outer-container {
  background-image: url('../img/galaxy.jpg'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* Ensure the container is at least as tall as the viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Add padding to the outer container */
}

.form-container {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%; /* Make the inner container full width */
  padding: 20px;
}

/* Input fields styling */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="date"],
select,
input[type="file"] {
  width: 100%; /* Full width within the container */
  padding: 12px 15px; /* Adjust padding as needed */
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8; /* Light gray background */
  transition: border-color 0.3s, background-color 0.3s;
}

/* Add focus styles for input fields */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
select:focus,
input[type="file"]:focus {
  border-color: #007bff; /* Focus border color */
  background-color: #ffffff; /* Focus background color */
}

/* Button styling */
.form-group button {
  width: 100%; /* Full width within the container */
  background-color: #007bff; /* Example primary color */
  color: white;
  padding: 14px 20px; /* Adjust padding as needed */
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-group button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

/* Additional styling for file input and checkbox */
input[type="file"] {
  border: none;
  padding-left: 0;
}

.agreement {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.agreement input[type="checkbox"] {
  margin-right: 5px;
}

.agreement label {
  display: inline; /* Keep the label on the same line as the checkbox */
}

/* Style adjustments for responsive design */
@media (max-width: 600px) {
  .form-container {
    padding: 15px; /* Smaller padding on small screens */
  }
}
