@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');
.video-header {
    position: relative;
    width: 100%;
    height: 100vh;
    /*background-image: url('font-img1.jpg');  */
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center; /* Center text vertically */
    justify-content: center; /* Center text horizontally */
}

.quote-box {
    font-family: 'Noto Serif', serif;
    position: absolute;
    bottom: -18%; /* Adjusted to show more of the box */
    left: 0;
    height: 35%;
    width: 50%;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    color: black;
    text-align: left;
    border-color: black 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.quote-box p {
    color: rgb(55, 60, 66);
    text-align: justify;
    font-size: 200%;
}

.video-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-text {
    position: absolute;
    color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    font-size: 400%;
    font-weight: bold;
    color: aliceblue;
    font-family: 'Roboto Slab', serif;
   /* -webkit-background-clip: text; */
   /* background-clip: text; */
    /* background-image: url('font-img1.jpg'); */
     /* background-size: 150%; */
}

