.image-container {
    position: absolute;
    overflow: hidden; 
  }
  
  .image1 { 
    top: 20%;
    left: 15%;
    width: 23em; 
    height: 30em; 
  }
  
  .overlapping-image.image1 {
    width: 100%; 
    height: 100%; 
    object-fit: contain; 
    object-position: center; 
  }
  .image2 { 
    top: 13%;
    left: 4%;
    width: 17em;
    height: 9em;
  }
  
  .image3 { 
    top: 64%;
    left: 54%;
    width: 10em;
    height: 15em;
  }
  
  .overlapping-image {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
  }
  .insights-container {
    height: 100vh;
    width: 100%;
    background-image: url('../img/latest7.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
  }

  .left-side, .right-side {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .right-side {
    top: 16.5%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: relative;
    justify-content: flex-start; 
  }
  .carousel-container {
    width: 100%; 
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 20px 0;
  }
  
  .carousel-card {
    width: 23em;
    height: 30em;
    flex: 0 0 auto; 
    margin-right: 10px; 
  
  }
  
  .btn-ctn {
    width: 100%;
    display: flex;
    justify-content: center; 
    margin-top: 20px; 
  }
  
  .btn-ctn button {
    padding: 10px 20px;
    margin: 0 10px; 
    border-radius: 5px;
    background-color: #6E8EA7;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-ctn button:hover {
    background-color: #032743;
  }