.container1 {
  display: flex;
  height: 80vh;
}

.globe-container, .other-components {
  flex: 1; 
}

.globe-container {
  width: 50%;
  height: 100%;
  position: relative; 
}
.other-components {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  position: relative; 
}

.zoom-india-button {
  padding: 10px 20px; 
  margin: 10px; 
  font-size: 1em;
  cursor: pointer; 
  background-color: #007bff; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  transition: background-color 0.3s; 
}

.zoom-india-button:hover {
  background-color: #0056b3;
}

.other-components .dropdown {
  padding: 0.5em 1em;
  margin-bottom: 1em; 
  border-radius: 0.3em;
  border: 1px solid #ddd; 
  background-color: white;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  font-size: 1rem;
  transition: all 0.3s;
}

.other-components .dropdown:hover {
  border-color: #aaa; 
}


.other-components .explore-button {
  padding: 0.5em 1em;
  margin-top: 1em; 
  font-size: 1rem;
  cursor: pointer;
  background-color: #007bff; 
  color: white; 
  border: none;
  border-radius: 0.3em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s, box-shadow 0.3s;
}

.other-components .explore-button:hover {
  background-color: #0056b3; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}