@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');



.video-header {
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.video-background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.header-overlay {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-text {
    position: relative;
    padding-top: 20%;
    font-family: 'Roboto Slab', serif;
    color: white;
    font-size: 4em;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
}

.quote-box {
    font-family: 'Noto Serif', serif;
    position: absolute;
    bottom: -5%; 
    left: 0;
    height: 15%;
    width: 50%;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    color: black;
    text-align: left;
    border-color: black 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.quote-box12 {
    font-family: 'Noto Serif', serif;
    position: absolute;
    bottom: 0%;
    left: 0;
    height: 100%;
    width: 50%;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    color: black;
    text-align: left;
    border-color: black 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.quote-box p {
    color: rgb(55, 60, 66);
    text-align: justify;
    font-size: 175%;
}

.quote-box12 p {
    color: rgb(55, 60, 66);
    text-align: justify;
    font-size: 150%;
}

.header-buttons {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1;
}

.header-button {

    margin-left: 10px;
    padding: 10px 20px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.3em;
}

.header-button2 {
    font-weight: bold;
    margin-left: 10px;
    padding: 10px 20px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.3em;
}

.scrolled {
    background: rgba(0, 0, 0, 0.7); 
    transition: background 0.3s ease-in-out;
}


.scrolled .header-buttons {
    background-color: #0056b3; 
}

.persistent-header {
    position: fixed ;
    top: 0 ;
    left : 0 ;
    width: 100% ;
    background: rgb(255, 255, 255) ;
    z-index: 100 ;
    display: flex ;
    justify-content: space-between ;
    align-items: center ;
    height: 100px ;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2) ; 
    transition: top 0.3s ;
}

.color-dropdown {
    margin-left: 10px;
    padding: 5px 10px; 
    background-color: transparent; 
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255); 
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto Slab', serif; 
    font-size: 1em; 
    width: auto; 
    appearance: none; 

}


.color-dropdown:focus, .color-dropdown:hover {
    color: black;
    outline: none;
    border: 1px solid rgb(255, 255, 255);
}


.color-dropdown option {
    
    color: black; 
}

/* Common styles for both dropdowns */
.color-dropdown {
    padding: 5px 10px;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
    width: 200px; /* Fixed width to make the dropdown smaller */
    appearance: none;
}

/* Dropdown in the persistent header with white text */
.persistent-header .color-dropdown {
    margin-left: 10px;
    padding: 5px 10px;
    color: rgb(0, 0, 0); /* White text color for dropdown in persistent header */
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
    width: 200px; /* Smaller width for the dropdown */
    background-color: transparent;
    appearance: none;
}

/* Dropdown in the video header with black text */
.video-header .color-dropdown {
    color: rgb(255, 255, 255); 
}

/* Ensure options are always black text on white background */
.color-dropdown option {
    background-color: white;
    color: black;
}

/* Removes the hover effect on the dropdown */
.color-dropdown:focus, .color-dropdown:hover {
    outline: none;
    border: 1px solid rgb(255, 255, 255);
}

/* Specific styles for when the header has scrolled */
.scrolled .color-dropdown {
    color: rgb(255, 255, 255); /* Ensures text color is white when scrolled */
    border-color: rgb(255, 255, 255); /* Optionally change border color on scroll */
}

.video-header .header-buttons .color-dropdown {
    margin-left: 10px;
    padding: 5px 10px;
    color: rgb(255, 255, 255); /* Black text color for dropdown in main header */
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
    width: 200px; /* Smaller width for the dropdown */
    background-color: transparent;
    appearance: none;
}
.persistent-header.monochrome {
    background: rgba(0, 0, 0) !important;
}

.monochrome {
    filter: grayscale();
    background-color: #e6e6e6; /* Light gray background for monochromatism */
    color: #000; /* Black text color for better contrast */
}

/* Styles for dichrome color perspective - Adjust the colors based on your design */
.dichrome {
    background-color: #f8d7da; /* Example: soft red background for dichromatism */
    color: #721c24; /* Dark red text for better contrast */
    filter: hue-rotate(55deg);
}

.anomalous-trichromatism {
    background-color: #d0cece; 
    color: #464545; 
    font-size: 16px;
    line-height: 1.5; 
    text-decoration: underline;
}